@CHARSET "UTF-8";

body {
  margin: 0px;
  font-family: arial;
  background: url('/img/background_linen.png') repeat scroll center top transparent;
  overflow: scroll; /* prevents background from being cut-off to viewport size */
}
#calendar {
  background-color: white;
  border: solid black 1px;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
}
#calendar td { /* setting width on cells doesn't work if they also set padding */
}

.month-selection-bar {
  width: 100%;
  margin-bottom: 3px;
}
.month-selection-bar input[type=button] {
  width: 80px;
}
#month-label {
  font-size: 140%;
  width: 100%;
  text-align: center;
}

.week-header {
  background-color: #888;
  color: white;
  width: 100%;
}

.day-name {
  height: 20px;
  color: black;
  background-color: white;
  text-align: center;
}
.day-name, .day-cell {
  width: 52px;
}

.month {
  display: table;
  border-collapse: collapse;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.week {
  display: table-row;
}
.day-cell {
  display: table-cell;
  height: 44px;
  border: solid 1px black;
  background-color: #eee;
}
.month:focus {
  border: solid 1px black;
  outline: solid 1px blue;
}
.day-cell[is-today] .day-nr {
  font-weight: bold;
  color: #c00;
}
.day-cell[is-today] {
  background-color: #ccc;
}
.day-cell[selected]{
  background-color: #7af;
}
.day-cell:not([is-current-month]){
  color: #777;
}
.day-cell-content {
  padding-top: 4px;
  font-size: 85%;
  color: blue;
}

#day-view {
  position: relative; /* necessary for overlay filling entire width and height */   
}

#selected-day-label {
  margin-top: 7px;
  margin-bottom: 2px;
  font-size: 90%; 
}
reservations-per-day-wrapper { /* need a wrapper for showing the overlay */
  border: solid black 1px;
  position: relative; /* necessary for overlay filling entire width and height */   
}
#reservations-per-day {
  height: 100px;
  overflow: auto;
  position: relative; /* need this for scrollMinimal to work */
}
#reservations-per-day:focus {
  border: solid 1px black;
  outline: solid 1px blue;
}
#reservations-per-day .reservation-line {
  border-bottom: solid #999 1px;
  padding-left: 2px;
}
#reservations-per-day .reservation-line[selected]{
  background-color: #7af;
}

.reservation-view {
  margin-top: 10px;
  padding: 2px;
  border: solid black 1px;
  background-color: #eee;
  font-size: 90%;
}
.reservation-view .editable {
  display: none;      /* to prevent fields and selectors flashing by while building page */
  position: relative; /* necessary for overlay filling entire width and height */ 
} 
.reservation-view input[type=button] {
  float: right;
}
.reservation-view #date-change-button { /* Don't float date change button */
  float: none;
}
.reservation-view #name-field {
  width: 200px;
  margin-bottom: 4px;
}
.reservation-view #comment-label {
  margin-top: 4px;
}
.reservation-view #comment-area {
  width: 100%;
  height: 60px;
}
.reservation-view .info {
  color: blue;
}
.reservation-view .comment-view {
  padding: 2px;
  height: 60px;
  overflow: auto;
  border: solid black 1px;
}
.date-change-overlay {
  display: none; /* is shown by ReservationsView.dateChange() */
  position:absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height: 100%;
  background-color: #eee;
  z-index: 1000;
  text-align: center;
}
.reservation-view .date-change-overlay input {
  margin-top:40px;
  float: none;  
}