@CHARSET "UTF-8";

body {
  margin: 0px;
  font-family: arial;
  background: url('/img/background_linen.png') repeat scroll center top transparent;
  overflow: scroll; /* prevents background from being cut-off to viewport size */
}
#calendar {
  background-color: white;
  border: solid black 1px;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
}
#calendar td { /* setting width on cells doesn't work if they also set padding */
}

.MonthSelection {
  width: 100%;
  margin-bottom: 3px;
}
#monthLabel {
  font-size: 140%;
  width: 100%;
  text-align: center;
}

.month {
  display: table;
  border-collapse: collapse;
  text-align: center;
  margin-top: 4px;
}
.weekHeader {
  display: table-row;
  background-color: #888;
  color: white;
}
.week {
  display: table-row;
}
.dayName {
  display: table-cell;
  height: 20px;
  color: black;
  background-color: white;
}
.dayCell {
  display: table-cell;
  width: 52px;
  height: 44px;
  border: solid 1px black;
  background-color: #eee;
}
.dayCell[selected]{
  background-color: #7af;
}
.dayCell:not([isCurrentMonth]){
  color: #777;
}
.dayCell:not([isCurrentMonth])[selected]{
  background-color: #7af;
}
.dayCellContent {
  padding-top: 4px;
  font-size: 85%;
  color: blue;
}
.hourSlots {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.hourHeader {
  display: table-row;
}
.hour {
  display: table-cell;
  width: 1%; /* to get equal column width */
  background-color: #999;
  border: solid 1px black;
}
.hour[selected]{
  background-color: red;
}
.dayView {
  margin-top: 10px;
  height: 100px;
  overflow: auto;
  border: solid black 1px;
}
.dayView .reservationLine {
  border-bottom: solid #999 1px;
  padding-left: 2px;
}
.reservationView {
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
  height: 140px;
  border: solid black 1px;
  background-color: #eee;
  font-size: 90%;
}
.reservationView .info {
  color: blue;
}
.reservationView .commentView {
  padding: 2px;
  height: 60px;
  overflow: auto;
  border: solid black 1px;
}