@CHARSET "UTF-8";

body {
  margin: 0px;
  font-family: arial;
  background: url('/img/background_linen.png') repeat scroll center top transparent;
  overflow: scroll; /* prevents background from being cut-off to viewport size */
}
#calendar {
  background-color: white;
  border: solid black 1px;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
}
#calendar td { /* setting width on cells doesn't work if they also set padding */
}

.MonthSelectionBar {
  width: 100%;
  margin-bottom: 3px;
}
.MonthSelectionBar input[type=button] {
  width: 80px;
}
#monthLabel {
  font-size: 140%;
  width: 100%;
  text-align: center;
}

.weekHeader {
  background-color: #888;
  color: white;
  width: 100%;
}

.dayName {
  height: 20px;
  color: black;
  background-color: white;
  text-align: center;
}
.dayName, .dayCell {
  width: 52px;
}

.month {
  display: table;
  border-collapse: collapse;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.week {
  display: table-row;
}
.dayCell {
  display: table-cell;
  height: 44px;
  border: solid 1px black;
  background-color: #eee;
}
.month:focus {
  border: solid 1px black;
  outline: solid 1px blue;
}
.dayCell[selected]{
  background-color: #7af;
}
.dayCell:not([isCurrentMonth]){
  color: #777;
}
.dayCellContent {
  padding-top: 4px;
  font-size: 85%;
  color: blue;
}

#selectedDayLabel {
  margin-top: 7px;
  margin-bottom: 2px;
  font-size: 90%; 
}
#reservationsPerDay {
  height: 100px;
  overflow: auto;
  border: solid black 1px;
}
#reservationsPerDay:focus {
  border: solid 1px black;
  outline: solid 1px blue;
}
#reservationsPerDay .reservationLine {
  border-bottom: solid #999 1px;
  padding-left: 2px;
}
#reservationsPerDay .reservationLine[selected]{
  background-color: #7af;
}

.reservationView {
  margin-top: 10px;
  padding: 2px;
  border: solid black 1px;
  background-color: #eee;
  font-size: 90%;
}
.reservationView .editable {
  display: none; /* to prevent fields and selectors flashing by while building page */
} 
.reservationView input[type=button] {
  float: right;
}
.reservationView #nameField {
  width: 200px;
  margin-bottom: 4px;
}
.reservationView #commentLabel {
  margin-top: 4px;
}
.reservationView #commentArea {
  width: 100%;
  height: 60px;
}
.reservationView .info {
  color: blue;
}
.reservationView .commentView {
  padding: 2px;
  height: 60px;
  overflow: auto;
  border: solid black 1px;
}
