@CHARSET "UTF-8";

.roundedCorners {
  border:solid; 
  border-width:2px;
  margin: 0px 0px 0px 0px;
  /* Rounded corner stuff starts here */
  border-radius: 6px;            /* standard */
  -webkit-border-radius: 6px;    /* for older Safari */
  -moz-border-radius: 6px;       /* for older Firefox (<13) */
  -khtml-border-radius: 6px;     /* not sure for which one this is */
}

textarea, input[type=text] { /* otherwise layout in tables is incorrect */
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

table {
  font: inherit; color: inherit; /* for some weird reason tables don't inherit font and color by default */
  border-spacing:0;
}
table td, table th {
  padding: 0;
}

body {
  font-family: arial;
  background: url('/img/background_linen.png') repeat scroll center top transparent;
  overflow: scroll; /* prevents background from being cut-off to viewport size */
}
#main {
  background-color: white;
  border: solid black 1px;
  margin: 20px;
  padding: 8px;
}

/* all buttons inside tables are layed out with equal width */
#main table {
  width: 100%;
}
#main table input {
  width: 100%;
}

#nameField {
  width: 100%;
}
#commentArea {
  width: 100%;
  
}
#confirmButton {
  width: 100%;
}
input[type=button] {
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  background-color: lightgrey;
}
input[type=button][selected] {
  background-color: #04f;
  color: white;
}
.NameLine, .NrOfPeopleButtons, .SmallDayButtons, .TimeButtons, #commentArea {
  margin-bottom: 4px;
}
